@model RoleViewModel

@{
    ViewData["Title"] = "Editar Perfil";
    Layout = null;
}

<input type="hidden" id="Id" asp-for="Id" />
<form id="EditForm" enctype="multipart/form-data">
    <div class="row">
        <!-- Name Field -->
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <div class="invalid-feedback">
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <!-- Description Field -->
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <div class="invalid-feedback">
                <span asp-validation-for="Description"></span>
            </div>
        </div>

        <!-- Display Selected Department -->
@*         <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="DepartmentId" class="form-label">Departamento</label>
                @if (Model.DepartmentSelect.Any())
                {
                    <select asp-for="DepartmentId" id="departmentSelect" class="form-select" asp-items="@(new SelectList(Model.DepartmentSelect, "Id", "Name", Model.DepartmentId))">
                        <option value="">Selecione</option>
                    </select>
                }
                else
                {
                    <p class="text-danger">Não existem departamentos!</p>
                }
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        </div>
 *@
        <!-- Display Selected Supervisor -->
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="SupervisorId" class="form-label">Supervisor</label>
                @if (Model.SupervisorSelect.Any())
                {
                    <select asp-for="SupervisorId" class="form-select" asp-items="@(new SelectList(Model.SupervisorSelect, "Id", "Name", Model.SupervisorId))">
                        <option value="">Selecione</option>
                    </select>
                }
                else
                {
                    <p class="text-danger">Não existem utilizadores desse departamento!</p>
                }
                <span asp-validation-for="SupervisorId" class="text-danger"></span>
            </div>
        </div>

        <!-- Display Selected Area -->
       @*  <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="AreaId" class="form-label">Área</label>
                <select asp-for="AreaId" id="areaSelect" class="form-select" disabled>
                    <option value="">Selecione</option>
                    @if (Model.AreaId != null)
                    {
                        <option value="@Model.AreaId" selected>@Model.Area.Name</option>
                    }
                </select>
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
        </div> *@

        <!-- Display Selected Team -->
        @* <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="TeamId" class="form-label">Equipa</label>
                <select asp-for="TeamId" id="teamSelect" class="form-select" disabled>
                    <option value="">Selecione</option>
                    @if (Model.TeamId != null)
                    {
                        <option value="@Model.TeamId" selected>@Model.Team.Name</option>
                    }
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
        </div> *@

        <input type="hidden" asp-for="Activated" />
        <input type="hidden" asp-for="Tag" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}