@model PermissionViewModel

@{
    ViewData["Title"] = "Edit Permissions";
    Layout = null;
}

<div class="container">
    <form id="PermissionsForm" enctype="multipart/form-data">
        <!-- Hidden input for Role ID -->
        <input type="hidden" name="roleId" id="roleId" value="@Model.Role.Id" />
        <div class="row">
            <div class="col-md-1">
                <label for="rolename" class="form-label">Perfil</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="rolename" value="@Model.Role.Name - @Model.Role.Description" disabled>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="select_all">
                    <label class="form-check-label" for="select_all">Selecionar tudo</label>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            @foreach (var module in Model.ModuleList)
            {
                <div class="col-12 col-md-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">@module.Name</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @foreach (var claim in module.Claims)
                                {
                                    <div class="col-12">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input claim-checkbox"
                                                   type="checkbox"
                                                   role="switch"
                                                   id="claim_@module.Id _@claim.Id"
                                                   name="permissions"
                                                   value="@module.Id _@claim.Id"
                                                   @(claim.hasPermission ? "checked" : "")>
                                            <label class="form-check-label" for="claim_@module.Id _@claim.Id">@claim.Name</label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
